---
import PageTitle from "@/components/ui/PageTitle.astro";
import { Badge } from "@/components/ui/badge";
import LinkCard from "@/components/ui/linkCard.astro";
import { tech } from "@/data";
import SectionLayout from "@/layouts/SectionLayout.astro";

const title = "Welcome, Astronaut! ";
---

<SectionLayout
  mainSection={true}
  title={title}
  slotClass=""
  sectionClass="hero"
>
  <div class="px-2 w-full flex gap-8 flex-col md:flex-row justify-between pt-4">
    <p class="desc max-w-lg">
      Welcome to the official Astro blog starter Version 2 template. This
      template serves as a lightweight, with elegant font choice and so much
      extra goodies to get you set on making a true expereience. Whether is a
      Blog, Personal Wesbite and etc!
    </p>
    <div data-scroll data-scroll-speed={1} class="grid max-w-xl grid-cols-2 gap-4 w-full">
      {
        tech.map((stack) => (
          <LinkCard
            subtitle=""
            href={stack.link}
            icon={stack.icon}
            title={stack.name}
          />
        ))
      }
    </div>
  </div>
  <div
    class="w-full img-container rounded-lg flex overflow-hidden items-center max-h-[600px] justify-center"
  >
    <img
      src="/blog-placeholder-about.jpg"
      alt=""
      class="hero-img object-cover w-full"
      srcset=""
    />
  </div>
</SectionLayout>
