---
import SanityImage from "@/components/ui/sanityImage.astro";
import FormattedDate from "../components/ui/FormattedDate.astro";
import BaseLayout from "./BaseLayout.astro";
import SectionLayout from "./SectionLayout.astro";
import { Badge } from "@/components/ui/badge";


const { title, tags,  publishedAt, coverImage } = Astro.props;
---

<BaseLayout
 className=""
  nameSpace={title}
  >
  <SectionLayout
  sectionClass="max-w-screen-xl text-center gap-5 mx-auto flex flex-col min-h-screen w-full space-y-5"
  slotClass="space-y-5"
  mainSection={true}
  title={title}
  >
  <p class="font-semibold">
    <span class="font-thin">
      Published At:
    </span>
    <FormattedDate date={publishedAt} />
  </p>
 <div class="flex flex-wrap gap-5 justify-center w-full">
      {Array.from({length: 5}).map((_)=> (
        <Badge>
          Tags
        </Badge>
      ))}
    </div>
  {
    coverImage? (
      <SanityImage 
      className="w-full rounded-md object-cover"
      node={coverImage}
      />
    ):null}
    <article class="text-left prose-xl w-full ">
<slot />
    </article>
  </SectionLayout>
</BaseLayout>
